.container {
  max-width: 100vw;
  max-height: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
}

/* navbar */

.navbar {
  display: flex;
  padding: 20px 70px;
  width: 100%;
  height: 100%;
  max-height: 70px;
  background: #ffff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  margin-bottom: 70px;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 5px hsl(0, 2%, 91%);
}

.navText {
  font-size: 24px;
  font-weight: 800;
}

.icon {
  margin-right: 10px;
}

.darkMode {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

/* end of navbar */

/*  back button */

.backButtonContainer {
  width: fit-content;
  margin-left: 70px;
  display: flex;
  margin-bottom: 70px;
  align-content: center;
  padding: 10px 35px;
  box-shadow: 1px 1px 1px 1.5px hsl(0, 2%, 91%);
  background: #ffff;
  border-radius: 7px;
  cursor: pointer;
}

.backButton {
  background: none;
  width: 100%;
  font: 14px;
  margin-left: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* end of back button   */

/* details */

.detailContainer {
  padding: 20px 70px;
  max-height: fit-content;
  margin-bottom: 100px;
  display: flex;
}

.imageContainer {
  width: 45%;
  margin-right: 150px;
  height: 350px;
}

.image {
  width: 100%;
  height: 350px;
}

.detailTextContainer {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.header {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.subContainer {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 600;
  color: hsl(0, 1%, 23%);
}

.span {
  font-weight: 300;
}

.sub1 {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.text {
  margin-bottom: 10px;
}

.sub2 {
  display: flex;
  flex-direction: column;
}

.border {
  display: flex;
  align-items: center;
}

.borderText {
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  color: hsl(0, 1%, 23%);
  letter-spacing: 0.25px;
}

.BorderCard {
  display: flex;
}

/* responsiveness */

@media only screen and (max-width: 780px) {
  .navbar {
    padding: 40px 15px;
    margin-bottom: 35px;
  }

  .navText {
    font-size: 16px;
    font-weight: 800;
  }

  .darkMode {
    font-size: 14px;
  }

  .backButtonContainer {
    margin-left: 20px;
    border-radius: 2px;
    padding: 5px 25px;
  }

  .detailContainer {
    padding: 0 30px;
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    margin-right: 0;
    height: fit-content;
    border-radius: 0;
  }

  .image {
    width: 100%;
    max-height: 250px;
    border-radius: 0;
  }

  .subContainer {
    flex-direction: column;
  }

  .sub1 {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .border {
    flex-direction: column;
    align-items: flex-start;
  }

  .borderText {
    margin-bottom: 20px;
  }
}
